@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/functions";

@import url('https://fonts.googleapis.com/css?family=Great+Vibes:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400,500,700,900');

$family-primary: EB Garamond;

$red: #DC2305;
$pink: #F69AB1;
$blue: #15A0D4;
$light-blue: #80D7F7;
$grey: #8e8e8e;

$primary: $pink;
$link: $pink;
$link-hover: #FFFFFF;
$danger: $pink;
$info: $blue;

$navbar-background-color: transparentize($light-blue, 1);
$tabs-border-bottom-width: 0;

html {
  background-image: linear-gradient(#363636, #0a0a0a);
  background-attachment: fixed;
  min-height: 100%;
}

.cursive {
  font-family: Great Vibes !important;
}

@import "../../../node_modules/bulma/bulma.sass";
